* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative height: 100hv;
    width: 100%;
}

.titulo {
    display: block;
    position: relative;
    height: 150px;
    background-color: darkcyan;
    border-radius: 0 0 10px 20px;
    box-shadow: 0 3px 4px grey;
    text-align: center;
}

h1 {
    padding: 10px 0;
    height: 60%;
    font-size: 1.7em;
    color: azure;
    text-shadow: -1px 1px 2px black;
}

.menu {
    margin: 10px 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}

h3 a {
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px 8px;
    box-shadow: -2px 2px 8px silver;
    color: whitesmoke;
    padding: 10px 5px;
    font-size: 1.0em;
    text-decoration: none;
    bottom: 10px;
}

h3:active {
    transform: scale(0.9);
}


.contenedor {
    width: 100%;
    display: block;
    position: relative;
}

.cont-seccion {
    margin: 20px 10px;
    width: 100%;
}

input[type="button"] {
    padding: 5px;
    height: auto;
    width: auto;
    border-radius: 3px;
    box-shadow: -1px 2px 3px gray;
    background-color: crimson;
    color: floralwhite;
}

.teclado {
    width: 20px;
    height: 20px;
    margin: 5px;
}


.headerSeccion,
.contenedorTeclado {
    text-align: center;
}

.box-lienzo {
    text-align: center;
    margin: 20px 0;

}

canvas {
    width: 300;
    height: 300;
    border: 1px dashed silver;
    box-shadow: -2px 2px 8px black;
}


.col-60 {
    margin: auto;
}

.col-10 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-10 p {
    margin: auto;
}


@media screen and (min-width: 600px) {

    h1 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.5em
    }

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-100-33 {
        margin: 50px 0;
        width: 50%;
    }

    .col-100 {
        width: 100%;
        margin-bottom: 20px;
    }


    #seccion_2 {
        width: 100%;
        padding: 0 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    h2 {
        padding: 15px 0;
    }

    p {
        padding: 8px 0;
    }


    #seccion_1,
    #seccion_2,
    #seccion_3 {

    }

}
